html, body
  font-size: 10px

@media (min-width: 800px)
  html, body
    font-size: 20px

@media (min-width: 1200px)
  html, body
    font-size: 90px

.main-wrapper
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  // background: red
